body {
    background-color: rgb(42, 19, 71);
    margin: 0;
}

/*nav*/

.navbar {
    display: flex;
    align-items: center;
    padding: 40px 10px;
    background-image: url('/images/banner.png');
    background-position: center;
    box-shadow: #8c00ff 1px 2px 10px;
}

.navbar p {
    margin-right: auto; 
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.navbar a {
    margin-left: 10px;
    color: #ac197b;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background: #150125;
    border-radius: 10px;
    padding: 10px;
}

.navbar a:hover {
    color: #ff00b3;
}

/*projetos*/

.projectTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ab6aff;
    font-size: 40px;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 40px;
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 20px;
}

.project-card {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.project-card h3 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.project-card p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95rem;
    color: #cccccc;
    line-height: 1.4;
    margin: 0;
}

.project-card img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px #8c00ff;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px 8px rgba(138, 43, 226, 0.9);
}

/*contatos*/

.contatosTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ab6aff;
    font-size: 40px;
    text-align: center;
}

.contatos{
    margin-left: 20px;
    color: #ac197b;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}


.contatos a{
    font-family:'Courier New', Courier, monospace;
    padding-left: 210px;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
}

.footer{
    background-color: #0a0111;
    padding: 80px 10px;
}